@page
@model InMyFruits.Areas.Fruits.Pages.IndexModel

@{
    ViewData["Title"] = "Liste des fruits disponibles";
}

<h1>Liste des fruits</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Ajouter un fruit</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fruit[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fruit[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fruit[0].Image.File)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fruit[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Fruit)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (null != item.Image)
                    {
                        <img src="@Url.Content(item.Image.Path)" width="128" height="128">
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a class="btn btn-secondary" asp-page="./Details" asp-route-id="@item.Id">Detail</a>
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.Id">Modifier</a> 
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
